body,
button,
input,
select,
textarea {
  color: #161718;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

.entry-content,
.site-footer,
.comments-area {
  line-height: 1.7;
}
.entry-content .first,
.site-footer .first,
.comments-area .first {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Roboto", sans-serif;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 20px;
  font-size: 1.25rem;
}

p {
  margin-bottom: 1.5em;
}

.first {
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */
}

q {
  quotes: "" "";
}
q:before, q:after {
  content: "";
}

blockquote {
  quotes: "" "";
  margin: 0 0 1.5em 0;
  padding: 1.5em;
  color: white;
  background: #161718;
  border-left: 4px solid #cc0000;
  border-radius: 0 4px 4px 0;
  font-style: italic;
}
blockquote:before, blockquote:after {
  content: "";
}
blockquote p {
  width: 100% !important;
  font-size: 24px;
  font-size: 1.5rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote cite {
  display: block;
  margin-top: 6px;
  text-align: right;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: bold;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

table {
  margin: 0 0 1.5em;
  width: 100%;
  max-width: 100%;
  border: 2px solid #121314;
  font-size: 16px;
  font-size: 1rem;
}

thead tr {
  color: white;
  background: #161718;
}

thead tr th,
tbody tr th,
tbody tr td,
tfoot tr th,
tfoot tr td {
  border: 2px solid #161718;
}

thead tr th {
  padding: 0.25rem;
}

tbody tr th,
tbody tr td,
tfoot tr th,
tfoot tr td {
  padding: 0.125rem 0.25rem;
}

/* Fix border for the dark footer. */
#secondary thead tr th,
#secondary tbody tr th,
#secondary tbody tr td,
#secondary tfoot tr th,
#secondary tfoot tr td {
  border-color: currentcolor;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

figure {
  margin-left: 0;
}

/* Remove whitespace beneath image. */
img {
  vertical-align: text-bottom;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
  font-size: 16px;
  font-size: 1rem;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-caption {
  display: block;
}

.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail,
.gallery-columns-4.gallery-size-thumbnail,
.gallery-columns-5.gallery-size-thumbnail,
.gallery-columns-6.gallery-size-thumbnail,
.gallery-columns-7.gallery-size-thumbnail,
.gallery-columns-8.gallery-size-thumbnail,
.gallery-columns-9.gallery-size-thumbnail {
  display: table;
  margin: 0 auto 1.5em;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
  text-align: center;
}

.gallery-columns-3 .gallery-item {
  max-width: 31%;
  max-width: calc(33% - 4px);
}

.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gallery-caption:before {
  box-shadow: 0 -10px 15px #000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.gallery-item:hover .gallery-caption {
  opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
