$color__background-body: #fff;
$color__background-screen: #fff;
$color__background-hr: #ccc;
$color__background-button: #161718;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-hidden: #161718;
$color__background-header: #161718;
$color__background-footer: #161718;
$color__background-blog: #161718;
$color__background-overlay: rgba(0,0,0,0.25);
$color__background-overlay-hover: rgba(0,0,0,0.75);
$color__background-tags: #dcdcdc;
$color__background-comments: rgba(48, 42, 67, 0.05);
$color__background-comments-depth: rgba(48, 42, 67, 0.05);
$color__background-selection: #111213;
$color__background-navigation: #202122;

$color__text-screen: #000;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #161718;
$color__link-visited: #161718;
$color__link-hover: #cc0000;
$color__text-main: #161718;
$color__text-menu: white;
$color__text-blog: white;
$color__link-footer: white;
$color__link-footer-visited: white;
$color__link-footer-hover: #cc0000;

$color__border-button: #161718;
$color__border-button-hover: #161718;
$color__border-button-focus: #161718;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-social-default: #202020;
$color__background-social-facebook: #3b5998;
$color__background-social-twitter: #00aced;
$color__background-social-google: #dd4b39;
$color__background-social-tumblr: #32506d;
$color__background-social-linkedin: #007bb5;
$color__background-social-pinterest:  #cb2027;
$color__background-social-dribbble: #ea4c89;
$color__background-social-wordpress: #464646;
$color__background-social-github: #4078c0;
$color__background-social-youtube: #bb0000;
$color__background-social-flickr: #ff0084;
$color__background-social-vimeo: #aad450;
$color__background-social-instagram: #125688;
$color__background-social-codepen: #111111;
$color__background-social-fouresquare: #0072b1;
$color__background-social-reddit: #ff5700;
$color__background-social-digg: #191919;
$color__background-social-stumbleupon: #f74425;
$color__background-social-dropbox: #007ee5;
$color__background-social-spotify: #23cf5f;
$color__background-social-pocket: #ee4056;